.jumbotron {
  text-align: center;
  position: relative;
  background-image: url(http://www.planwallpaper.com/static/images/6806129-pretty-backgrounds.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.emph {
  color: red;
  font-style: italic;
  font-family: cursive;
}

.column {
  width: 300px;
  float: left;
  text-align: center;
}

.h2 {
  text-align: center;
  margin: 6px;
  border: 12px;
  padding: 4px;
  background-color: orange
}

.education {
  margin: 6px;
  border: 12px darkblue;
  padding: 4px;
  background-color: lightblue;
}

.job {
  margin: 6px;
  border: 12px darkgreen;
  padding: 4px;
  background-color: lightgreen;
}

.interests {
  margin: 6px;
  border: 12px darkred;
  padding: 4px;
  background-color: pink;
}
