.titlesection {
  color: blue;
  image-orientation: center;
  text-align: center;
  color: green;
}

.column {
  width: 300px;
  float: left;
  text-align: center;
}

.h2 {
  text-align: center;
}

.Projects {
  text-align: center;
}
