.titlesection {
  color: blue;
  image-orientation: center;
  text-align: center;
  color: green;
}

.column {
  width: 300px;
  float: left;
  text-align: center;
}

.h2 {
  text-align: center;
}

p.education {
  margin: 6px;
  border: 12px darkblue;
  padding: 4px;
  background-color: lightblue;
}

p.job {
  margin: 6px;
  border: 12px darkgreen;
  padding: 4px;
  background-color: lightgreen;
}

p.interests {
  margin: 6px;
  border: 12px darkred;
  padding: 4px;
  background-color: pink;
}
